<article>
    <img src="<%= asset_path @user.photo %>" alt="Your image description" width="150">
    <h1><%= @user.name %></h1>
    <p>Number of posts: <%= @user.posts.count %></p>
</article>
<% @posts.each do |post| %>
    <article>
        <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
            <h3><%= post.title %></h3>
            <p><%= post.text.slice(0, 80) + '...' %>
        </a>
        <section>
            <p>Comments: <%= post.comments_counter %></p>
            <p>Likes: <%= post.likes_counter %></p>
        </section>
        <section>
            <% post.recent_comments.each do |comment| %>
                <article>
                    <p><%= comment.author.name + ': ' + comment.text %></p>
                </article>
            <% end %>
        </section>
    </article>
<% end %>